
.toprow {

   display: flex;


}


.image {

   display: flex;
   /*align-items: center;*/
   flex-direction: column;

}

.infobox {

    
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: #C4C4C4;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    

}

.title {

    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;

}

.concertinfo {

    border: 2px solid;
    border-color: black;
    margin: 0;
    line-height: 1.15;
    font-size: 1rem;
    text-align: left;

}