
.toprow {

   display: flex;
   padding: 40px;


}


.image {

   display: flex;
   align-items: right;
   flex-direction: column;
   

}

.infobox {

    
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    background-color: #C4C4C4;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
    

}

.title {

    padding: 20px;
    

}

.concertinfo {

    padding-left: 40px;

}